/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
lib/virgil/crypto/virgil_crypto_ruby.so
lib/virgil/crypto/virgil_crypto_ruby.bundle
*.gem
build*/
.idea
*.iml
sample.rb
